[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
django-otp = "*"
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "*"
