.dashboard-content {
    padding: 0px;
    margin-left: 198px;
    
}

.cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 28%;
    height: 50%;
    text-align: center;
}

.card.pending {
    background-color: white;
}

.card.in-progress {
    background-color: rgb(216, 150, 27);
}

.card.resolved {
    background-color: green;
}

.card h2 {
    margin-bottom: 10px;
}

.issue-count {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}