.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 10px 20px;
    color: black;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    grid-column: 1/-1;
  
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.makerere-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.navbar-logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    align-items: center;
    
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    pointer-events: none;
    margin-right: 0px;
}

.notification-icon {
    width: 35px;
    height: 35px;
    margin-left:80px;
}

.notification-icon:hover {
    background-color: rgb(187, 189, 190);
    border-radius: 8px;
}

.mail-icon {
    width: 32px;
    height: 32px;
    margin-left:70px;
    bottom: 50px;
}

.mail-icon:hover {
    background-color: rgb(187, 189, 190);
    border-radius: 5px;
}

.search-input {
    padding: 10px 10px;
    border: 1px solid green;
    border-radius: 15px;
    font-size: 1rem;
    margin-left: 80px;
    flex-grow: 1;
    width: 350px;
    
}

.search-input:hover {
    border-color: green;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: -20px;
    margin-left: 100px;
}

.user-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-right: -290px;
    margin-left: 100px;
}

.user-greeting {
    margin-right: 30px;
    margin-left: 290px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}