.container {
    display: flex;
}

.sidebar {
    background-color: rgb(25, 184, 25);
    width: 218px;
    height: 100vh;
    position: fixed;
    left: 0;
}

.list {
    margin: 10px 10px ;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    align-items: center;
    transition: background-color 0.3s;
    

}

.icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-top: 1px;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.list:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    
}

.list:nth-child(5) {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}