.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    width: 250px;
    background: green;
    transition: width 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar-toggle {
    position: absolute;
    top: 20px;
    right: -12px;
    background: #4318FF;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
=======
    align-items: center;
    justify-content: center;
    z-index: 1;
>>>>>>> de4c61a8e5bf09af41722aea7ae149074d20aa2d
}

 
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    margin-left: 10px;
}

.sidebar.collapsed .sidebar-item span {
    display: none;
}

.sidebar.collapsed .sidebar-item {
    padding: 15px 0;
    justify-content: center;
}

.sidebar-item a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.sidebar-item {
    position: relative;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.sidebar-item span {
    transition: opacity 0.3s ease;
}

.sidebar-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 30px;
    margin-right: 10px;
}

.sidebar-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    transition: width 0.3s ease;
}

.sidebar-item:hover::before {
    width: 100%;
}

.logout-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    align-items: center;
    padding: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .sidebar-item {
        padding: 10px 15px;
    }

    .sidebar-icon {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        transform: translateX(-100%); /* Hide sidebar by default */
    }

    .sidebar.open {
        transform: translateX(0); /* Show sidebar when open */
    }

    .sidebar-item {
        padding: 10px;
        font-size: 0.9rem;
    }

    .sidebar-icon {
        width: 16px;
        height: 16px;
    }

    .logout-button {
        padding: 10px;
        font-size: 0.9rem;
    }
}
.logout-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    align-items: center;
    padding: 0;
}