.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    height: calc(100% - 50px);
    background-color: green;
    color: black;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
 
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    margin-left: 10px;
}

.sidebar-item a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.sidebar-item {
    position: relative;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}


.sidebar-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 30px;
    margin-right: 10px;

}

.sidebar-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: width 0.3s ease;
}

.sidebar-item:hover::before {
    width: 100%;
}


