.edit-academic-info-container {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start; /* Align content to the top */
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    min-height: 100vh; /* Ensure full height */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in height calculations */
}

.edit-academic-info-h1 {
    font-size: 28px; /* Increased font size for better visibility */
    color: #333;
    margin-top: 20px; /* Adjusted margin for better spacing */
    margin-bottom: 20px;
    text-align: left; /* Align the heading to the left */