.helpsupport-container {
    display: flex;
    height: 100vh;
}

.helpsupport-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.helpsupport-content h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 650px;
    margin-right: 800px;
}