.lecturer-issue-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.lecturer-issue-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 90px;
    background-color: white;
}

.filter-search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-dropdown {
    padding: 8px;
    font-size: irem;
    border: 1px solid black;
    border-radius: 10px;
}

.filter-dropdown:focus {
    border-color: rgb(38, 160, 10);
    outline: none;
    box-shadow: 0 0 5px rgb(38, 160, 10);
}

.lecturer-search-container {
    display: flex;
    align-items: center;
}

.lecturer-search-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
}

.lecturer-search-input:focus {
    border-color: rgb(38, 160, 10);
    outline: none;
    box-shadow: 0 0 5px rgb(38, 160, 10);
}

.no-issues-container {
    text-align: center;
    padding: 20px;
}

.no-issues-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.lecturer-search-icon {
    margin-left: 190px;
    position: absolute;
    width: 20px;
}