.lecturer-issue-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.lecturer-issue-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

.filter-search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-dropdown {
    padding: 10px;
    font-size: irem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lecturer-search-container {
    display: flex;
    align-items: center;
}

.lecturer-search-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.no-issues-container {
    text-align: center;
    padding: 20px;
}