.open-issues-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
}

.open-issues-content {
    display: flex;
    flex: 1;
}

.open-issues-content h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 160px;
    color: black;
}

.issues-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px; 
    gap: 10px;
    position: absolute;
    margin-left: 146px;
    margin-top: 100px;
}

.nav-button {
    background-color: green;
    color: white;
    border: none;
    display: inline;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.nav-button:hover {
    background-color: white;
    color: black;
    display: inline;
    border-bottom: 1px solid black;
    border: 1px solid black;
}